*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

height:100vh;

display:flex;

justify-content:center;

align-items:center;

background:#08132d;

overflow:hidden;

font-family:Arial;

color:white;

}

.container{

text-align:center;

}

.title{

font-size:3rem;

margin-bottom:20px;

}

.subtitle{

margin-bottom:40px;

font-size:20px;

}

.gift{

width:220px;
height:220px;
position:relative;
margin:auto;

transform-style:preserve-3d;

animation:float 3s ease-in-out infinite;

cursor:pointer;

perspective:1000px;

}

.gift-box{

position:absolute;

bottom:0;

width:220px;
height:150px;

background:#ff4f81;

border-radius:12px;

box-shadow:
0 20px 50px rgba(0,0,0,.35);

}

.gift-lid{

position:absolute;

top:25px;

width:220px;

height:55px;

background:#ff7ca5;

border-radius:12px;

transform-origin:left center;

transition:1s;

z-index:10;

}

.ribbon-vertical{

position:absolute;

left:50%;

transform:translateX(-50%);

width:22px;

height:100%;

background:white;

}

.ribbon-horizontal{

position:absolute;

top:50%;

transform:translateY(-50%);

width:100%;

height:22px;

background:white;

}

.bow{

position:absolute;

top:-18px;

width:45px;

height:45px;

border:8px solid white;

border-radius:50%;

}

.bow-left{

left:62px;

}

.bow-right{

right:62px;

}

@keyframes float{

0%{

transform:translateY(0);

}

50%{

transform:translateY(-12px);

}

100%{

transform:translateY(0);

}

}

.gift:hover{

transform:rotateY(20deg)
rotateX(10deg);

}
.gift-box{

transition:.5s;

}

.gift:hover .gift-box{

box-shadow:

0 0 30px #ff4f81,

0 0 70px #ff4f81;

}

.title{

animation:pulse 2s infinite;

}

@keyframes pulse{

0%{

transform:scale(1);

}

50%{

transform:scale(1.05);

}

100%{

transform:scale(1);

}

}
